@media (min-width: 1200px) {
  .container {
      max-width: 1920px;
  }
}
.full {
  width: 100%;
  height: 100%;
}
.section-layout {
  width: 100%;
  height: 100%;
  float: left;
}

.slide-block {
  width: 100%;
  float: left;
  display: table;
  padding: 10%;
  height: 100%;
}

figure, p {
  margin: 0;
}

.slide-block p.title, .slide-block p.sub-title {
  font-family: Campton-Bold,"Helvetica Neue",Arial,sans-serif;
}

.slide-block p.title {
  font-size: 56px;
  line-height: 53px;
  float: left;
  width: 100%;
}

.slide-block p.title span {
  display: block;
  float: left;
  padding: 10px 10px 5px;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  text-align: center;
  color: #fff;
}

.slide-block p.description {
  font-size: 18px;
  font-family: Campton-Book,"Helvetica Neue",Arial,sans-serif;
  line-height: 27px;
  color: #fff;
  max-width: 600px;
  letter-spacing: 1px;
  float: left;
  margin-bottom: 30px;
  margin-top: 15px;
}

.slide-block ul {
  color: #fff;
  padding: 10%;
}

.slide-block ul li {
  margin: 10px;
}

#carouselExampleIndicators {
  margin: 20px auto;
  width: 80%;
}

#carouselExampleIndicators img {
  margin: 0!important;
  width: 100%;
}

@media (min-width: 1200px) {
  .correction {
    margin-top:300px;
  }
}

.carousel-caption {
  margin-bottom: 20px;
}

form.talk-form {
  margin: 0 auto;
  max-width: 400px;
  margin-top: 80px;
}

.about-bg {
  background: url('assets/about.jpg') no-repeat;
  background-size: cover;
}

.know-bg {
  background: url('assets/know.jpg') no-repeat;
  background-size: cover;
}

.stories-bg {
  background: url('assets/stories.jpg') no-repeat;
  background-size: cover;
}

.talk-bg {

}